.text {
    text-align: center;
}
.wall {
    background-size: cover; /* obrazek rozciągnięty */
    width: 100%;
    height: 600px;
    display: inline-block;/* nie trzeba używć float*/
}
.clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 30px auto; /*margines od góry i od dołu*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
    /* background-color: rgba(0,0,0,0.04);*/
    position: relative; /*pozycja relatywna, może się zmieniać- wskazówki będa się kręcić względem tarczy.*/
}
.hand {
    top: 3px;
    right: 50%;/* środek tarczy - przodka*/
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    position: absolute;/* pozycjonowanie wskazówek względem elementów przodka*/
    transform-origin: bottom center; /*punkt obrotu na środek dolnej krawedzi wskazówki*/
}
.hand.minutes, .hand.aminutes, .hand.bminutes, .hand.cminutes, .hand.dminutes,
.hand.seconds, .hand.aseconds, .hand.bseconds, .hand.cseconds, .hand.dseconds {
    height: calc(50% - 3px); /*wysokość wskazówki*/
    background-color: black;
}
.hand.seconds, .hand.aseconds, .hand.bseconds, .hand.cseconds, .hand.dseconds {
    width: 1px;
}
.hand.minutes, .hand.aminutes, .hand.bminutes, .hand.cminutes, .hand.dminutes {
    width: 3px;
}
.hand.hours, .hand.ahours, .hand.bhours, .hand.chours, .hand.dhours {
    top: 20%;
    width: 4px;
    height: 30%; /*wysokość wskazówki*/
    background-color: red;
}

#czas {
    text-align: center;
}
#budzik {
    text-align:center;
}